{% load static %}
<section id="source-preferences" class="text-blueGray-700 bg-white mt-5">
    <section class="antialiased bg-gray-100 text-gray-600 h-screen px-4">
    <div class="flex flex-col justify-center h-full">
        <!-- Table -->
        <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
            <header class="px-5 py-4 border-b border-gray-100">
                <h2 class="font-semibold text-gray-800">Nastavenia Zdrojov</h2>
            </header>
            <div class="p-3">
                <div class="overflow-x-auto">
                    <form method="post">
                        {% csrf_token %}

                        <table class="table-auto w-full">

                            <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                                <tr>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Stranka</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Kategoria</div>
                                    </th>
                                    <th class="p-2 whitespace-nowrap">
                                        <div class="font-semibold text-left">Zobrazit</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-sm divide-y divide-gray-100">

                                {{ form }}

                                
                                <!-- <button type="submit" class="btn btn-primary">Save</button> -->
                                
                            </tbody>
                            

                        </table>

                        <button type="submit" class='block w-full px-4 py-2 font-medium tracking-wide text-center text-white capitalize transition-colors duration-300 transform bg-teal-400 rounded-md hover:bg-teal-500 focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80'>
                            Ulozit
                        </button>

                    </form>
                </div>
            </div>



        </div>
    </div>
    </section>
</section>
