
{% load static %}

<div id="single-article" class="container flex flex-col items-center px-5 py-8 mx-auto md:flex-row lg:px-28">
    <div class="flex flex-col items-start mb-16 text-left lg:flex-grow md:w-1/2 lg:pr-24 md:pr-8 md:mb-0">
        <h4 class="mb-1 text-xs font-semibold tracking-widest text-black uppercase title-font"> #Slovensko #Kalinak #Financie #ZaseKrandu </h4>

        <div class="flex items-center mb-2">
          <img src="{{ article.source_pfp }}" class="source-pfp" alt="Article photo" />
          <h3 class="ml-2 text-s font-semibold tracking-widest text-black uppercase title-font article-info"> <a href="{{ article.source_link }}" target="_blank" class="article-source-name">{{article.source_display_name}}</a> | {{ article.authors }} </h3>
        </div>
        
        <a href="{{ article.link }}" class="article-link" target="_blank"><h2 class="mb-4 text-2xl font-black tracking-normal text-black md:text-4xl title-font headline"> {{ article.headline }} </h2></a>
        <p class="mb-4 text-2xl leading-relaxed text-left text-blueGray-600 subtitle"> {{ article.subtitle }} </p>
        <p class="mb-4 text-2xl leading-relaxed text-left text-blueGray-600 published"> {{ article.published }} </p>
        <div class="flex flex-col justify-center lg:flex-row">
        </div>
    </div>
    <div class="w-full lg:w-1/4 lg:max-w-lg md:w-1/2 image-holder">

      {% if article.img_is_video == False and article.image != None %}
        <img class="object-cover object-center rounded-lg article-img" alt="Article Image" src="{{ article.image }}">
      {% elif article.img_is_video == False and article.image != None %}
        <div class="object-cover object-center rounded-lg article-img">
            {{ article.image }}
        <div>
      {% else %}
        <img class="object-cover object-center rounded-lg article-img" alt="Article Video" src="{% static 'images/index.png' %}">


      {% endif %}
    </div>
</div>