{% load static %}

<div class='flex items-center justify-center min-h-screen'>


    <div class='flex flex-col items-center justify-center min-h-screen '>

        <div class="w-3/4 max-w-lg px-4 pt-2 mx-auto bg-gray-200 rounded-lg rounded-b-none toggle-feedback">
            <nav class="flex flex-col sm:flex-row">
                <button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none active:text-blue-500 border-b-2 vote-func-tab">
                    Hlasuj
                </button><button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none submit-func-tab">
                    Napis
                </button>
            </nav>

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <ul class="w-3/4 max-w-lg px-2 py-1 mx-auto bg-green-100 rounded-lg shadow-md messages">
                    {% else %}
                    <ul class="w-3/4 max-w-lg px-2 py-1 mx-auto bg-red-100 rounded-lg shadow-md messages">
                    {% endif %}    
                        <li class="text-sm"> {{ message }} </li>
                    </ul>
                {% endfor %}
            {% endif %}
        </div>


        <div class='w-3/4 max-w-lg px-5 py-8 mx-auto rounded-lg rounded-t-none pt-5 shadow-xl bg-gray-200 '>

            <div class='max-w-md mx-auto space-y-6 vote-func'>
                
                <form action="/vote_for_new_func/" method="post">

                    {% csrf_token %}

                    <h3 class='text-l pb-2 font-bold'>Čo ďalej? Rozhodni ty!</h3>
        
                    <!-- Accordion start -->
                    <ul class="accordion w-full bg-gray-50 rounded-lg shadow-lg p-2">
        
                        {% for feature in features %}
        
                            <li class="cursor-pointer w-full my-1">
                                <span class="font-bold text-m tracking-tight text-gray-500 flex flex-row justify-between items-center">
                                    
                                    <!--
                                    <input type="radio" id="{{feature.id}}" value="{{feature.id}}" name="feature-choice" class="hidden peer">{{feature.title}} ({{feature.votes}})</input>
                                    <svg class="text-gray-500 mr-1 arrow-button flipY"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                    -->


                                    <input type="radio" id="{{feature.id}}" name="feature-choice" value="{{feature.id}}" class="hidden peer" required>
                                    <label for="{{feature.id}}" class="inline-flex items-center justify-between w-full cursor-pointer border-gray-500 peer-checked:text-black hover:text-black hover:border-black text-gray-500">                           
                                        <div class="block">
                                            <div class="w-full text-md">{{feature.title}} ({{feature.votes}})</div>
                                        </div>
                                        <svg class="text-gray-500 mr-1 arrow-button flipY"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                    </label>


                                </span>
        
                                <div class="text-gray-500 text-sm p-2 feature-description">
                                    {{feature.desc}}
                                </div>
        
                            </li>
        
                        {% endfor %}
        
                    </ul>
                    <!-- Accordion end -->
                    <button type="submit" class='block w-full px-4 py-2 font-medium tracking-wide text-center text-white capitalize transition-colors duration-300 transform bg-teal-400 rounded-md hover:bg-teal-500 focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80'>
                        Hlasuj!
                    </button>
            
                </form>
            
            </div>
        
            <div class='max-w-md mx-auto space-y-6 submit-func' hidden>

                <form action="/submit_new_func/" method="post">
                    {% csrf_token %}
                    <h3 class='h-8 text-xl font-bold'>Daj navrh</h3>
                    
                    <!--
                    <label for="submit-func-title">Chytľavý názov</label>
                    <input name="submit-func-title" class="block w-full text-gray-800 submit-func-title" id="submit-func-title" type="text" placeholder="Rododendron" required>
                    
                    <label for="submit-func-desc">Frajerský popis</label>
                    <textarea name="submit-func-desc" class="block w-full" id="submit-func-desc" rows="3" placeholder="Cerveny kvet z celade rastlin vresovcovite." required></textarea>
                    -->

                    {{ new_func_form }}

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <button type="submit" class='block w-full px-4 py-2 font-medium tracking-wide text-center text-white capitalize transition-colors duration-300 transform bg-teal-400 rounded-md hover:bg-teal-500 focus:outline-none focus:ring focus:ring-teal-300 focus:ring-opacity-80'>
                        Hlasuj!
                    </button>
                </form>
                
            </div>
        </div>

      </div>

</div>

